{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block site_title %}{% endblock %}</title>
    lin
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    {% include 'app_general/components/site_header.html'%}
    {% block content %} {% endblock %}
    {% include 'app_general/components/site_footer.html' %}
    <script src="{%static 'script/script'}"></script>
</body>
</html>
